<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>javaweb01</display-name>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AuthorityFilter</filter-name>
    <filter-class>filter.AuthorityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthorityFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>AllUserServlet</servlet-name>
    <servlet-class>Servlet.AllUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllUserServlet</servlet-name>
    <url-pattern>/admin/AllUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>Servlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/admin/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateActivityServlet</servlet-name>
    <servlet-class>Servlet.UpdateActivityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateActivityServlet</servlet-name>
    <url-pattern>/admin/UpdateActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>Servlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/admin/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateExaminerServlet</servlet-name>
    <servlet-class>Servlet.UpdateExaminerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateExaminerServlet</servlet-name>
    <url-pattern>/admin/UpdateExaminer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>Servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateConServlet</display-name>
    <servlet-name>UpdateConServlet</servlet-name>
    <servlet-class>Servlet.UpdateConServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateConServlet</servlet-name>
    <url-pattern>/admin/UpdateCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AllTableServlet</servlet-name>
    <servlet-class>Servlet.AllTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllTableServlet</servlet-name>
    <url-pattern>/admin/AllTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>Servlet.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/admin/LogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddActivityServlet</display-name>
    <servlet-name>AddActivityServlet</servlet-name>
    <servlet-class>Servlet.AddActivityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddActivityServlet</servlet-name>
    <url-pattern>/admin/AddActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchActivityServlet</display-name>
    <servlet-name>SearchActivityServlet</servlet-name>
    <servlet-class>Servlet.SearchActivityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchActivityServlet</servlet-name>
    <url-pattern>/admin/SearchActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllDelTableServlet</display-name>
    <servlet-name>AllDelTableServlet</servlet-name>
    <servlet-class>Servlet.AllDelTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllDelTableServlet</servlet-name>
    <url-pattern>/admin/AllDelTable</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>/testtag</taglib-uri>
      <taglib-location>/WEB-INF/tlds/testtag.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>UsernameCheckServlet</display-name>
    <servlet-name>UsernameCheckServlet</servlet-name>
    <servlet-class>Servlet.UsernameCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsernameCheckServlet</servlet-name>
    <url-pattern>/admin/UsernameCheck</url-pattern>
  </servlet-mapping>
</web-app>